.new-task {
  text-align: center;
}
.new-task input {
  width: 100%;
  text-align: center;
  border: 0px;
}
.hidden{
  display: none;
}
.task {
  text-align: center;
  background-color: #79a8c9;
  border: 4px solid #577a92;
  padding: 2px;
  margin-top: 5px;
}
.task p {
  color: #ece4d8;
  background-color: #577a92;
  padding: .7em 0;
  margin: 0;
}
.tasks, .tasks > .task {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}