.new-task input {
  color: #ece4d8;
  text-align: center;
  width: 100%;
  padding: 0px;
  margin-top: -5px;
  border: 0px;
  font: inherit;
  line-height: initial;
  background-color: transparent;
}
.new-task input:focus {
    outline-width: 0;
}
.new-task h1 {
  padding-top: 12px;
}
.new-task h2 {
  padding-bottom: 13px;
}
.new-task .action {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.new-task .action:hover {
  text-decoration: underline;
}
.default-task {
  opacity: 0.5;
}
.task p {
  color: #7c334f;
  font-size: 3.5em;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  padding: .2em 0;
  margin: 0;
  border-bottom: .2em double #d3ccc1;
}
.tasks, .tasks > .task {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
/*angular animations*/
.task.ng-enter {
  transition: 0.2s ease all;
  opacity: 0;
}
.task.ng-enter.ng-enter-active {
  opacity: 1;
}
.task.ng-leave {
  transition: 0.2s ease all;
  opacity: 1;
}
.task.ng-leave.ng-leave-active {
  opacity: 0;
}
.default-task.ng-enter {
  transition: 0.2s 0.2s ease all;
  opacity: 0;
}
.default-task.ng-enter.ng-enter-active {
  opacity: 0.5;
}
.default-task.ng-leave {
  transition: 0.2s 0.2s ease all;
  opacity: 0.5;
}
.default-task.ng-leave.ng-leave-active {
  opacity: 0;
}